.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

h1 {
    color: var(--invalid);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttons .delete {
    cursor: pointer;
    color: var(--invalid);
    border-radius: 15px;
    font-weight: 600;
    padding: 5px;
    transition: 0.5s;
}

.buttons .delete:hover {
    color: black;
    background-color: var(--invalid);
    box-shadow: 0 0 5px var(--invalid),
    0 0 25px var(--invalid),
    0 0 50px var(--invalid),
    0 0 100px var(--invalid);
}

.buttons .cancel {
    cursor: pointer;
    color: black;
    border-radius: 15px;
    font-weight: 600;
    padding: 5px;
    transition: 0.5s;
}

.buttons .cancel:hover {
    color: white;
    background-color: black;
    box-shadow: 0 0 5px black,
    0 0 25px black,
    0 0 50px black,
    0 0 100px black;
}