* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }
  
  body{ 
    position: absolute;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    overflow: auto;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(82, 82, 82);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--scrollbar);
  }
  
  .sidebar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: var(--nav);
    padding: 6px 14px;
    transition: all 0.5s ease;
  }
  
  .sidebar.active {
    width: 240px;
  }
  
  .sidebar .logo_content .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  
  .sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
  }
  
  .sidebar .logo_content .img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 12px;
  }
  
  .sidebar .logo_content .logo_name {
    font-size: 20px;
    font-weight: 400;
  }
  
  .sidebar #btn  {
    position: absolute;
    color: white;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transform: translateX(-50%);
  }
  
  .sidebar.active #btn {
    left: 90%;
  }
  
  .sidebar ul {
    margin-top: 20px;
  }
  
  .sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
  }
  
  .sidebar ul li .active_link {
    background: white;
    color: black;
  }
  
  .sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
  }
  
  .sidebar ul li a:hover {
    color: black;
    background: white;
  }
  
  .sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }
  
  .sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  
  .sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
  }
  
  .sidebar .profile_content {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
  }
  
  .sidebar.active .profile_content .profile {
    background: var(--secondary);
  }
  
  .profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
  }
  
  .sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
  }
  
  .profile .profile_details .img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .profile .profile_details .name_job {
    margin-left: 10px;
  }
  
  .profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
  }
  
  .profile .profile_details .job {
    font-size: 12px;
  }
  
  .profile .profile_details .job span{
    color: black;
  }
  
  .contents {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
  }