<div class="container">
    <form class="object-form" [formGroup]="addForm" (ngSubmit)="addObject(addForm.value)">
        <input class="object-form-text" placeholder="Name" formControlName="name">
        <span class="error" *ngIf="addForm.get('name')!.hasError('required') && addForm.get('name')!.touched">Name is required</span>
        <span class="error" *ngIf="addForm.get('name')!.hasError('maxlength')">Name is too long</span>
        <span class="error" *ngIf="addForm.get('name')!.hasError('minlength')">Name is too short</span>
        <input class="object-form-text" placeholder="Category" formControlName="category">
        <span class="error" *ngIf="addForm.get('category')!.hasError('required') && addForm.get('category')!.touched">Category is required</span>
        <span class="error" *ngIf="addForm.get('category')!.hasError('category')">Category is invalid</span>
        <span class="error" *ngIf="addForm.get('category')!.hasError('maxlength')">Category is too long</span>
        <input class="object-form-text" placeholder="Description" formControlName="description">
        <span class="error" *ngIf="addForm.get('description')!.hasError('required') && addForm.get('description')!.touched">Description is required</span>
        <span class="error" *ngIf="addForm.get('description')!.hasError('minlength')">Description is too short</span>
        <span class="error" *ngIf="addForm.get('description')!.hasError('maxlength')">Description is too long</span>
        <div class="file-container">
            <label for="image" class="add" title="add image"><i class='bx bx-image'></i></label>
            <input type="file" id="image" (change)="addImage($any($event.target).files)" name="files">
            <span class="fileName" *ngIf="pictureName !== ''">{{pictureName}}</span>
            <label for="file" class="add" title="add file"><i class='bx bxs-cloud-upload' ></i></label>
            <input type="file" id="file" (change)="addFile($any($event.target).files)" name="files">
            <span class="fileName" *ngIf="fileName !== ''">{{fileName}}</span>
        </div>
        <div class="button-container">
            <button class="invalidButton" title="invalid form" *ngIf="addForm.invalid" [disabled]="addForm.invalid" type="submit">Add</button>
            <button class="validButton" title="add" *ngIf="addForm.valid" [disabled]="addForm.invalid" type="submit">Add</button>
        </div>
    </form>
</div>