.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 600px;
  width: 80%;
  background-color: var(--secondarybis);
  border-radius: 20px;
  padding-bottom: 20px;
}

.object-form {
  width: 80%;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.object-form .error {
  color: var(--invalid);
  font-size: 14px;
  font-weight: 600;
}

.object-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  padding: 20px 40px;
  background-color: aliceblue;
  outline: none;
  border-radius: 10px;
  transition: 0.5s;
}

input {
  color: var(--secondary);
  font-size: 1em;
}

::placeholder {
  color: var(--secondary);
  font-size: 1em;
}

.object-form-text:focus.ng-valid {
  box-shadow: 0 0 10px 4px var(--valid);
}

.object-form-text:focus.ng-invalid {
  box-shadow: 0 0 10px 4px var(--invalid);
}

textarea.object-form-text {
  resize: none;
  height: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.object-form .button-container .validButton {
  text-decoration: none;
  background: aliceblue;
  color: var(--secondary);
  padding: 15px 30px;
  border: 2px solid var(--valid);
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.4em;
  transition: 0.5s;
}

.object-form .button-container .invalidButton {
  text-decoration: none;
  background: aliceblue;
  color: var(--secondary);
  padding: 15px 30px;
  border: 2px solid var(--invalid);
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.4em;
  transition: 0.5s;
}

.object-form .button-container .validButton:hover {
  background-color: var(--valid);
  box-shadow: 0 0 5px var(--valid), 0 0 25px var(--valid), 0 0 50px var(--valid),
    0 0 100px var(--valid);
  color: black;
  cursor: pointer;
}

.container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container p {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.file-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.file-container .add {
  cursor: pointer;
  background-color: var(--primarybis);
  color: white;
  margin: 0 10px;
  padding: 10px 15px 10px 15px;
  font-size: 30px;
  border-radius: 0.4em;
  transition: 0.5s;
}

.file-container .add:hover {
  background-color: white;
  color: var(--secondary);
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white;
}

.file-container .fileName {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

input[type="file"] {
  display: none;
}
