header {
    display: flex;
    background-color: var(--header);
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 20px;
}

header .title-section {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

header .title-section span {
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}