<div class="container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Image</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let object of objects">
                <td data-label="Name">{{object?.name}}</td>
                <td data-label="Category">{{object?.category}}</td>
                <td data-label="Image">{{object?.image}}</td>
                <td data-label="Description">{{object?.description}}</td>
                <td data-label="Delete" class="delete-cell"><a class="delete" title="delete" (click)="openDialog(object)"><i class='bx bx-message-square-x'></i></a></td>
            </tr>
        </tbody>
    </table>
</div>