<div class="container">
    <form class="object-form" [formGroup]="addForm" (ngSubmit)="addObject(addForm.value)">
        <input class="object-form-text" placeholder="Name" formControlName="name">
        <span class="error" *ngIf="addForm.get('name')!.hasError('required') && addForm.get('name')!.touched">Name is required</span>
        <span class="error" *ngIf="addForm.get('name')!.hasError('maxlength')">Name is too long</span>
        <span class="error" *ngIf="addForm.get('name')!.hasError('minlength')">Name is too short</span>
        <input class="object-form-text" placeholder="Category" formControlName="category">
        <span class="error" *ngIf="addForm.get('category')!.hasError('required') && addForm.get('category')!.touched">Category is required</span>
        <span class="error" *ngIf="addForm.get('category')!.hasError('category')">Category is invalid</span>
        <span class="error" *ngIf="addForm.get('category')!.hasError('maxlength')">Category is too long</span>
        <input class="object-form-text" placeholder="Description" formControlName="description">
        <span class="error" *ngIf="addForm.get('description')!.hasError('required') && addForm.get('description')!.touched">Description is required</span>
        <span class="error" *ngIf="addForm.get('description')!.hasError('minlength')">Description is too short</span>
        <span class="error" *ngIf="addForm.get('description')!.hasError('maxlength')">Description is too long</span>
        <input class="object-form-text" placeholder="Image" formControlName="image">
        <span class="error" *ngIf="addForm.get('image')!.hasError('pattern')">Image must finish by .png, .jpg or .jpeg</span>
        <div class="file-container">
            <label for="file" class="add" title="add file"><i class='bx bxs-cloud-upload' ></i></label>
            <input type="file" id="file" (change)="addFile($any($event.target).files)" name="files" multiple>
            <span class="filename" *ngIf="filename !== ''">{{filename}}</span>
        </div>
        <div class="button-container">
            <button class="invalidButton" title="invalid form" *ngIf="addForm.invalid" [disabled]="addForm.invalid" type="submit">Add</button>
            <button class="validButton" title="add" *ngIf="addForm.valid" [disabled]="addForm.invalid" type="submit">Add</button>
        </div>
    </form>
</div>