<app-header
  [title]="'Messages'"
  [isConnected]="isConnected"
  *ngIf="isConnected"
></app-header>

<div class="container" *ngIf="isConnected">
  <input
    type="search"
    (ngModelChange)="search(key.value)"
    #key="ngModel"
    ngModel
    name="key"
    class="text-research"
    placeholder="Search"
  />
  <div class="messages-container">
    <div class="message-container" *ngFor="let message of messages">
      <div
        class="contenu left"
        *ngIf="message.sender !== loggedInUser!.nickname"
      >
        <div class="message">
          <div class="header-message">
            <span>{{ message.sender }}</span>
            <span>{{ message.date | customDate }}</span>
          </div>
          <span class="content">{{ message?.content }}</span>
        </div>
      </div>
      <div
        class="contenu right"
        *ngIf="message.sender === loggedInUser!.nickname"
      >
        <div class="message" title="modify" (click)="modifyMessage(message)">
          <div class="header-message">
            <span>{{ message.sender }}</span>
            <span>{{ message.date | customDate }}</span>
          </div>
          <span class="content">{{ message?.content }}</span>
        </div>
      </div>
    </div>
  </div>
  <form
    *ngIf="!isModifying"
    class="message-form"
    [formGroup]="messageForm"
    (ngSubmit)="sendMessage(messageForm.value)"
  >
    <textarea
      class="send-message"
      placeholder="Message"
      formControlName="content"
    ></textarea>
    <div class="button-container">
      <button
        class="invalidButton"
        title="invalid form"
        *ngIf="messageForm.invalid"
        [disabled]="messageForm.invalid"
        type="submit"
      >
        Send
      </button>
      <button
        class="validButton"
        title="send"
        *ngIf="messageForm.valid"
        [disabled]="messageForm.invalid"
        type="submit"
      >
        Send
      </button>
    </div>
  </form>
  <form
    *ngIf="isModifying"
    class="message-form"
    [formGroup]="messageForm"
    (ngSubmit)="updateMessage(messageForm.value)"
  >
    <textarea
      class="send-message"
      ngModel="{{ updatedMessage?.content }}"
      formControlName="content"
    ></textarea>
    <div class="button-container">
      <button
        class="invalidButton"
        title="invalid form"
        *ngIf="messageForm.invalid"
        [disabled]="messageForm.invalid"
        type="submit"
      >
        Update
      </button>
      <button
        class="validButton"
        title="update"
        *ngIf="messageForm.valid"
        [disabled]="messageForm.invalid"
        type="submit"
      >
        Update
      </button>
      <button
        class="deleteButton"
        title="delete"
        (click)="openDialog(updatedMessage!.id)"
        type="button"
      >
        Delete
      </button>
      <a class="cancel" title="cancel" (click)="unmodifyMessage()">Cancel</a>
    </div>
  </form>
</div>
