<div class="container">
    <table>
        <thead>
            <tr>
                <th>Nickname</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>User Role</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td data-label="Nickname">{{user?.nickname}}</td>
                <td data-label="Email">{{user?.email}}</td>
                <td data-label="Enabled">{{user?.enabled}}</td>
                <td data-label="User Role">{{user?.userRole}}</td>
                <td data-label="Delete" class="delete-cell"><a class="delete" title="delete" (click)="openDialog(user.email)"><i class='bx bx-message-square-x'></i></a></td>
            </tr>
        </tbody>
    </table>
</div>