<div class="stats-container">
    <a *ngIf="!isConnected" class="stat" routerLink="/connect" routerLinkActive="active_link">
        <h3>Users</h3>
        <h4>{{usersNumber}}</h4>
        <span>Become a User</span>
    </a>
    <a *ngIf="isConnected" class="stat" routerLink="/user" routerLinkActive="active_link">
        <h3>Users</h3>
        <h4>{{usersNumber}}</h4>
        <span>Become a User</span>
    </a>
    <a *ngIf="!isConnected" class="stat" routerLink="/connect" routerLinkActive="active_link">
        <h3>Creaters</h3>
        <h4>{{creatersNumber}}</h4>
        <span>Become a Creater</span>
    </a>
    <a *ngIf="isConnected" class="stat" routerLink="/user" routerLinkActive="active_link">
        <h3>Creaters</h3>
        <h4>{{creatersNumber}}</h4>
        <span>Become a Creater</span>
    </a>
    <a class="stat" routerLink="/objects" routerLinkActive="active_link">
        <h3>Objects</h3>
        <h4>{{objectsNumber}}</h4>
        <span>See Objects</span>
    </a>
</div>